@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --dark: #111b2d;
    --darker: #05111e;
    --darkest: #031321;
    --gray: #969aa3;
    --light: #eee;
    --white: #fff;
    --lg-1: #3CA55C;
    --lg-2: #B5AC49;
    --lg-3: #cb2d3e;
    --lg-4: #ef473a;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .4s;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--dark);
    color: var(--white);
}

input, button {
    appearance: none;
    background: none;
}

header {
    width: 100%;
    max-width: 800px;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--gray);
    margin-bottom: 1rem;
}

#new-task-form {
    display: flex;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    font-size: 1.25rem;
    color: var(--light);
    border-radius: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#new-task-input::placeholder {
    color: var(--gray);
}

#new-task-submit {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--lg-1);
    padding-bottom: .5rem;
    background: linear-gradient(to right, var(--lg-1), var(--lg-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

#new-task-submit:hover {
    opacity: .8;
}

#new-task-submit:active {
    opacity: .5;
}

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--gray);
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1.3rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .content .text {
    color: var(--light);
    font-size: 1.25rem;
    width: 100%;
    display: block;
}

#tasks .task .content .text:not(:read-only) {
    color: var(--lg-1);
}

#tasks .task .actions {
    display: flex;
    margin: 0 -.5rem;
}

.task .actions button {
    margin: 0 .5rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.task .actions button:hover {
    opacity: .8;
}

.task .actions button:active {
    opacity: .5;
}

.task .actions .edit {
    background: linear-gradient(to right, var(--lg-1), var(--lg-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete {
    background: linear-gradient(to right, var(--lg-3), var(--lg-4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}